@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

.showcase {
  position: relative;
  right: 0;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #111;
  color: #fff;
  z-index: 2;
  transition: 0.5s;
}

.showcase.active {
  right: 250px;
}

.showcase header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  text-transform: uppercase;
  cursor: pointer;
}

.toggle {
  position: relative;
  width: 45px;
  height: 45px;
  background: url(images/grid.png);
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
  cursor: pointer;
  filter: invert(1);
}

.toggle.active {
  background: url(images/close.png);
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: center;
  filter: grayscale(100%);
}

.showcase video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: #03a9f4;
  mix-blend-mode: overlay; */
  background: rgba(131, 124, 125, 0.4);
}

.text {
  position: relative;
  z-index: 10;
}

.text h2 {
  font-size: 5em;
  font-weight: 800;
  line-height: 1em;
  text-transform: uppercase;
}

.text h3 {
  font-size: 4em;
  font-weight: 700;
  line-height: 1em;
  text-transform: uppercase;
}

.text p {
  font-size: 1.1em;
  margin: 20px 0;
  font-weight: 400;
  max-width: 700px;
}

.text a {
  display: inline-block;
  font-size: 1em;
  background: #fff;
  padding: 10px 30px;
  text-decoration: none;
  color: #111;
  margin-top: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.2s;
}

.text a:hover {
  letter-spacing: 6px;
}

.menu {
  position: absolute;
  top: 0;
  right: 0;
  width: 250px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.menu ul {
  position: relative;
  list-style: none;
}

.menu ul li a {
  text-decoration: none;
  font-size: 24px;
  color: #111;
}

.menu ul li a:hover {
  color: rgba(131, 124, 125, 1);
}

@media (max-width: 798px) {
  .showcase,
  .showcase header {
    padding: 40px;
  }

  .text h2 {
    font-size: 3em;
  }

  .text h3 {
    font-size: 2em;
  }
}

/* Second area project */

.title_projecten {
  text-align: center;
  font-size: 2.5em;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title_projecten h2 {
  color: rgba(0, 0, 0, 0.8);
}

.box {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin: 0;
  margin-bottom: 4vh;
}

.container {
  display: flex;
  /* width: 90vh; */
  width: 60vw;
}

.panel {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50px;
  color: #fff;
  height: 70vh;
  margin: 10px;
  cursor: pointer;
  flex: 0.9;
  position: relative;
  transition: flex 0.7s ease;
}

.panel h3 {
  font-size: 24px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  opacity: 0;
}

.panel.active {
  flex: 5;
}

.panel.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}

@media (max-width: 480px) {
  .container {
    width: 100vw;
  }

  /* Laatste panelen laten verdwijnen */
  .panel:nth-of-type(4),
  .panel:nth-of-type(5) {
    display: none;
  }
}

/* About-me part */

.wrapper {
  height: 100vh;
}

.personal {
  display: flex;
  text-align: center;
  width: auto;
  justify-content: center;
}

.personal .zelf {
  background: #fff;
  width: 400px;
  height: 300px;
  margin: 5px;
  margin-bottom: 50px;
  padding: 20px;
  line-height: 20px;
  color: #8e8b8b;
  position: relative;
  margin-top: 35vh;
  border-radius: 10px;
}

.zelf h3 {
  color: #00bcd4;
  font-size: 26px;
  margin-top: 50px;
  font-weight: 500;
}

.title {
  color: #ccc;
  font-size: 12px;
  text-transform: uppercase;
  margin: 12px 0;
}

.personal_img {
  position: absolute;
  top: -90px;
  left: 50%;
  transform: translateX(-50%);

  border-radius: 50%;
}

.personal_img img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  padding: 4px;
  background: grey;
}

/* Contact gedeelte */

.mainbox {
  background-color: peru;
}

.contact {
  position: relative;
  min-height: 100vh;
  padding: 50px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: url(Images/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.9;
}

.contact .content {
  max-width: 800px;
  text-align: center;
}

.contact .content h2 {
  font-size: 36px;
  font-weight: 500;
  color: #fff;
}

.contact .content p {
  font-weight: 300;
  color: #fff;
  margin-bottom: 10%;
}

.containerContact {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.containerContact .contactInfo {
  width: 25%;
  display: flex;
  flex-direction: column;
}

.containerContact .contactInfo .boxIcon {
  position: relative;
  padding: 20px 0;
  display: flex;
}

.containerContact .contactInfo .boxIcon .icon {
  min-width: 60px;
  height: 60px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 22px;
}

.containerContact .contactInfo .boxIcon .textContact {
  display: flex;
  margin-left: 20px;
  font-size: 16px;
  color: #fff;
  flex-direction: column;
  font-weight: 300;
}

.containerContact .contactInfo .boxIcon .textContact h3 {
  font-weight: 500;
  color: #00bcd4;
}

.containerContact .contactInfo .boxIcon .textContact a {
  font-weight: 300;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
}

.containerContact .contactInfo .boxIcon .textContact a:hover {
  font-weight: 1000;
}

.contactForm {
  width: 40%;
  padding: 40px;
  background: #fff;
  border-radius: 50px;
}

.contactForm h2 {
  font-size: 30px;
  color: #333;
  font-weight: 500;
}

.contactForm .inputBox {
  position: relative;
  width: 100%;
  margin-top: 10px;
}

.contactForm .inputBox input,
.contactForm .inputBox textarea {
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  resize: none;
}

.contactForm .inputBox span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #666;
}

.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span {
  color: #e91e63;
  font-size: 12px;
  transform: translateY(-20px);
}

.contactForm .inputBox input[type="submit"] {
  width: 100px;
  background: #00bcd4;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
}

@media (max-width: 991px) {
  .contact {
    padding: 50px;
  }

  .containerContact {
    flex-direction: column;
  }

  .containerContact .contactInfo {
    margin-bottom: 40px;
  }
  .boxIcon {
    margin-left: 25%;
  }

  .containerContact .contactInfo,
  .contactForm {
    width: 100%;
  }
}
